<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.iconarrstudie"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <!--Permissions-->
    <!--Stock Launcher-->
    <uses-permission
        android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission
        android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!--Nova Launcher-->
    <uses-permission
        android:name="com.teslacoilsw.launcher.permission.READ_SETTINGS" />
    <!--Sense Launcher-->
    <uses-permission
        android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!--Motorola Launcher-->
    <uses-permission
        android:name="com.motorola.launcher.permission.READ_SETTINGS"/>
    <uses-permission
        android:name="com.motorola.dlauncher.permission.READ_SETTINGS"/>
    <!--Motorola Blur-->
    <uses-permission
        android:name="com.motorola.blur.home.permission.READ_SETTINGS"/>
    <!--Launcher Pro-->
    <uses-permission
        android:name="com.fede.launcher.permission.READ_SETTINGS"/>
    <uses-permission
        android:name="com.lge.launcher.permission.READ_SETTINGS"/>
    <!--ADW Launcher-->
    <uses-permission
        android:name="org.adw.launcher.permission.READ_SETTINGS"/>
    <uses-permission
        android:name="org.adwfreak.launcher.permission.READ_SETTINGS" />
    <!--Apex Launcher-->
    <uses-permission
        android:name="com.anddoes.launcher.permission.READ_SETTINGS" />
    <!--TouchWiz Launcher-->
    <uses-permission
        android:name="com.sec.android.app.twlauncher.READ_SETTINGS"/>
    <uses-permission
        android:name="com.sec.android.app.twlauncher.permission.READ_SETTINGS"/>
    <!--Sony Ericsson-->
    <uses-permission
        android:name="com.sonyericsson.home.permission.READ_SETTINGS"/>
    <uses-permission
        android:name="com.sonyericsson.homescreen.permission.READ_SETTINGS"/>
    <!--Trebuchet Launcher-->
    <uses-permission
        android:name="com.cyanogenmod.trebuchet.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_LOGS" />
    <!--Go Launcher-->
    <uses-permission
        android:name="com.gau.go.launcherex.permission.READ_SETTINGS" />
    <!--Go Launcher-->
    <uses-permission
            android:name="com.go.launcherex.permission.WRITE_SETTINGS"/>

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.iconarrstudie.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Test1_ddrop"
                android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name=".Test1_ddrop_alt"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name=".Test2_pverbrauch"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name=".Test3_pos"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name=".Pre_Test1"/>
        <activity android:name=".Pre_Test2"/>
        <activity android:name=".Pre_Test3"/>
    </application>

</manifest>
